@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо!</h1>
    <p >Це робота була виконана для демонстрації роботи Cookie для аутентифікації в ASP.NET Core</p>
    <p>Робота виконана Корнелюком Вадимом</p>
    
</div>
